
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IsBankCallback</title>
    <p>Test iş bank call back sayfası</p>
</head>
<body>
</body>
</html>
